{% load static%}
<!DOCTYPE html>
<html lang="en">
    <head><title>Improved Search Engineer</title>
        <link href="{% static 'css/main.css' %}" rel="stylesheet">
  </head>
  <body>
      <div class = "header">
          <form>
              <h1>Look for News here!!! </h1>
              <div class="form-box">
                  <input type="text" class="search-field-news" placeholder="Search in 30 characters..">
                  <button class="search-button" type ="button">Search</button>
              </div>
          </form>
      </div>
  </body>
</html>