<!-- The author of this code is @Tanu Nanda Prabhu.
The name of the file is signU.html which contains all the html code.
The second file is signUpStyle.css which contains all the related styles.
And this also contains three images.
The original code was found fron the website bootsnip.com and most of the modification was done by me
Source: https://bootsnipp.com/snippets/3522X -->


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width>, initial-scale=1.0">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
	<link rel="stylesheet" href ="/static/css/signUpStyle.css">
    <title>Sign-Up</title>
</head>
    

<body>

	<!-- 
		Django Template Inheritence
		Loads a template and renders it with the current context. This is a way of “including” other templates within a template.
		The template name can either be a variable or a hard-coded (quoted) string, in either single or double quotes.
		The basic syntax is "filename.html":
		Source: https://docs.djangoproject.com/en/3.0/ref/templates/builtins/#include
		Basically we are extending the navigation bar from navBar.html file
	-->
	{% include 'navBar.html' %}

    <div class="container h-100">
		<div class="d-flex justify-content-center h-100">
			<div class="user_card">
				<div class="d-flex justify-content-center">
					<div class="brand_logo_container">
                        <h1 class = "login">Sign-Up</h1>
					</div>
				</div>
				<div class="d-flex justify-content-center form_container">
					<form method="POST">
                        {% csrf_token %}
						<div class="input-group mb-2">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-user"></i></span>
							</div>
							<p> {{ form.newName}} </p>
						</div>


						<div class="input-group mb-2">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-envelope"></i></span>
							</div>
							<p> {{ form.email}} </p>
						</div>

						<div class="input-group mb-2">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-key"></i></span>
							</div>
							<p> {{ form.pwd}} </p>
						</div>

						<div class="input-group mb-2">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-key"></i></span>
							</div>
							<p> {{ form.pwdr}} </p>
						</div>

						<div class="form-group">
							<div class="custom-control custom-checkbox">
								<input type="checkbox" class="custom-control-input" id="customControlInline">
								<label class="custom-control-label" for="customControlInline">Remember me</label>
							</div>
						</div>
							<div class="d-flex justify-content-center mt-3 login_container">
				 	<button type="submit" name="button" class="btn login_btn">Sign-Up</button>
				   </div>
					</form>
				</div>
		
				<div class="mt-4">
					<div class="d-flex justify-content-center links">
						 Have an account? <a href="login.html" class="ml-2">Login</a>
					</div>
					
				</div>
			</div>
		</div>
	</div>

</body>
</html>