/**
 * main.css
 *
 * The home page should be easily understandable. So I have used updated google fonts that look better on all screens.
 * Author: Tanu Nanda Prabhu
 * 
 *
 * Index
 * - Form Buttons
 * - Fonts
 * - Radio Buttons
 * - Search Button
 * - Input Text Area
 *
 */

p.title
{
  font-family: 'Segoe UI', sans-serif;
  font-size: 40px;
  text-align: center;
  color: white;
  padding-top: 10%;
}

* 
{
  box-sizing: border-box;
}

form.example input[type=text] 
{
  border-radius: 25px;
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 45%;
  margin-left: 20%;
  margin-top: 5px;
  background: whitesmoke;
  
}

form.example button 
{
  border-radius: 25px;
  float: left;
  width: 10%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
  margin-left: 5px;
  margin-top: 5px;
}

form.example button:hover 
{
  background: #0b7dda; 
}

form.example::after 
{
  content: "";
  clear: both;
  display: table;   
}

p.radio 
{
  margin-top: -10px;
  text-align: center;  color: white;
  zoom:150%;
}

p
{
  color: white;
}



label.custom-control-label
{
  color: white;
}


