p.title{
  font-family: 'Segoe UI', sans-serif;
  font-size: 40px;
  text-align: center;
  color: white;
  padding-top: 10%;
}

* {
  box-sizing: border-box;
}

form.example input[type=text] {
  border-radius: 25px;
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 45%;
  margin-left: 20%;
  margin-top: 5px;
  background: whitesmoke;
  
}
form.example button {
  border-radius: 25px;
  float: left;
  width: 10%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
  margin-left: 5px;
  margin-top: 5px;

    
}

form.example button:hover {
  background: #0b7dda;
    
}

form.example::after {
  content: "";
  clear: both;
  display: table;
    
}

p.radio {
  margin-top: -10px;
  margin-left: 300px;
  color: white;
  zoom:150%;
  
  
}


p{
  color: white;
}


body {

  /*background: url("/static/Img/uregina.jpg")no-repeat center center fixed; */
  /* Full height */
  
  /* Center and scale the image nicely */
  background: url("/static/Img/lights-night-dark-long-exposure-1679719.jpg")no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: Arial;
  height: 100%;


}


label.custom-control-label{
  color: white;
}


