body,
		html {
			margin: 0;
			padding: 0;
			height: 100%;
			background: grey !important;
		}
		.user_card {
			height: 500px;
			width: 500px;
			background: grey;
			position: relative;
			display: flex;
			margin-top: 90px;
			justify-content: center;
			flex-direction: column;
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			border-radius: 5px;
		}
		
		.brand_logo_container {
			position: absolute;
			height: 170px;
			width: 170px;
			top: -75px;
			border-radius: 50%;
			background: black;
			padding: 10px;
			text-align: center;
		}
		.brand_logo {
			height: 150px;
			width: 150px;
			border-radius: 50%;
			border: 2px solid white;
		}
		.form_container {
			margin-top: 100px;
		}
		.login_btn {
			width: 100%;
			background: black !important;
			color: white !important;
		}
		.login_btn:focus {
			box-shadow: none !important;
			outline: 0px !important;
		}
		.login_container {
			padding: 0 2rem;
		}
		.input-group-text {
			background: black !important;
			color: white !important;
			border: 0 !important;
            border-radius: 0.25rem 0 0 0.25rem !important;
            height: 39px;            

		}
		.input_user,
		.input_pass:focus {
			box-shadow: none !important;
            outline: 0px !important;
		}
		.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
			background-color: black !important;
		}
        
        form input[type=text] {
            font-size: 15px;
            border: 0px solid grey;
            border-radius: 0 0.25rem 0.25rem 0  !important;
            width: 350px;
            height: 39px;

        }
        h1{
            color: white;
            margin-top: 50px;
        }

        form input[type=password] {
        font-size: 15px;
        border: 0px solid grey;
        width: 350px;
        height: 39px;
        border-radius: 0 0.25rem 0.25rem 0 !important;
        }
