body {
    margin: 0;
    padding: 0;
}
.header
{
    height:100vh;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("/static/img/img1.gif");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items:center;
    font-family: sans-serif;
}
